body{
    background-color: white;
    margin: 0;
    overflow:hidden;
}
.dummy{
    height: 100vh;
    position: relative;
    overflow:hidden;
    background-color: lightgoldenrodyellow;
}
.nav-bar{
    position: absolute;top:0;right:0;left:0;
    height: 80px;
    display: flex;justify-content: space-between;align-items: center;
    font-size:30px;font-weight: bold;
    padding-left: 20px;padding-right: 20px;  
}

#check-but,#join-but{
    background-color: gold;
    color: black;
    border:none;
    padding:10px;
    font-size: 15px;font-weight: bold;
    transition: all 0.3s;
}

#check-but:hover,#join-but:hover{
    transform: scale(1.1);
}
#check-but:active,#join-but:active{
    transform: scale(0.8);
}
#check-but{
    border-radius: 15px 0 0 15px;
}

#join-but{
    border-radius:0 15px 15px 0;
}

.bot{
    position:absolute;
    left:20vw;right:20vw;bottom:-78vh;
    width:60vw;
    height:80vh;
    border-radius: 20px 20px 0 0;
    background-color:gold;
    opacity: 0.4;
    box-shadow: 0 0 20px gold;
    overflow: hidden;
    transition: bottom 0.3s;
}

.bot:hover{
    opacity: 1;
}


form{
    margin:0;padding: 0;
}

.bot-dummy{
    width:100%;
    height: 100%;
    position: relative;
    border:none;
    overflow:hidden;
}
.input input{
    width:80%;
    position:absolute;
    margin-left:10%;padding: 12px 20px;
    border:none;border-radius: 25px;
    font-size:18px;outline: none ;
    bottom:8px;
}

.chat-win-dum{
    position: absolute;
    top:5%;left:1.5%;bottom:12%;
    width:97%;
    background-color: white;
    display: flex;
    border-radius: 20px;
    flex-direction: column;
    justify-content: end;
    overflow:hidden;
}

.win,.bot-win{
    margin: 2% 10% 2% 10% ;
    display: flex;
}

.win{
    justify-content: right;
}

.bot-win{
    justify-content: left;
}

.content{
    background-color: lightblue;
    border-radius:25px;
    padding:15px;
    font-size:18px;
}

.chat-win{
    width:100%;
    overflow:scroll;
    scrollbar-width: none;
}